<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bodega Pijao</title>
        <style>
            body {
                margin: 0;
                padding: 0;
                background-color: #109DFE;
                font-family: Arial, sans-serif;
            }
    
            header {
                text-align: center;
                background-image: url('https://www.disproamerica.com/wp-content/uploads/2020/04/banner-vinos-1.jpg');
                background-size: cover;
                padding: 70px 0;
            }
    
            h1 {
                font-family: Arial, sans-serif;
                font-weight: bold;
                color: #022e16;
                font-size: 2.5em;
                text-align: center;
            }
    
            h2 {
                text-align: center;
                color: #000;
            }
    
            .container {
                text-align: center;
                padding: 20px;
            }
    
            input[type="text"],
            input[type="password"] {
                width: 100%;
                padding: 10px;
                margin: 5px 0;
                border: 1px solid #ccc;
                border-radius: 3px;
            }
    
            footer {
                text-align: center;
                background-color: #745;
                background-size: cover;
                padding: 5px;
            }
    
            .social-icon {
                font-size: 24px;
                color: white;
                text-decoration: none;
                margin-right: 10px;
            }
    
            a.social-link {
                color: white;
                text-decoration: none;
            }
        </style>
    </head>
<body>
    <header>
        <h1> </h1>
    </header>
    <p><h1>🥂 BODEGA PIJAO 🥂</h1></p>
    <p><h2>Sistema de información: INGRESAR </h2></p>
    <!-- Tu contenido HTML aquí -->

    <form action="/login" method="post">
        <div class="container">
            <input type="text" name="username" placeholder="LOGIN" required /><br>
            <input type="password" name="password" placeholder="CONTRASEÑA" required />
            <button type="submit">Iniciar sesión</button>
        </div>
    </form>
    <!-- Footer --><footer id="footer"><div class="inner">
        <h2>Contáctanos</h2>
        <ul class="icons">
            <li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
        </ul></div>
    </footer>

</body>
</html>
